* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

#controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  margin: 10px 0 0 10px;
  padding: 10px;
  border-radius: 10px;

  background: #222222ff;
  color: white;
}

#country-ipt {
  background: inherit;
  color: inherit;

  border: none;
  border-bottom: 1px solid black;
}

#controls label {
  font-size: 12px;
}

#guess-counter {
  margin-top: 10px;
}

#toggle-rotation {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 200px;
  margin: 0 auto 20px auto;
  padding: 10px;
  border-radius: 10px;

  background: #222222ff;
  color: white;
  text-align: center;
  cursor: pointer;
}

#flag-list {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50vh;
  margin: 0 10px 10px 0;

  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
}

.flag {
  margin-left: 5px;
}
